* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9dffc61f;
  height: 100%;
  min-height: 100vw;
  width: 100%;
  min-width: 100vw;
}
#Conteiner {
  padding: 192px 48px 75px 48px;
  width: fit-content;
  border: solid 1px #00000040;
  border-radius: 20px;
}
a {
  text-decoration: none;
}

#triangulo {
  display: block;
  margin: 0 auto 122px auto;
}

input {
  width: 321px;
  height: 46px;
  background-color: #f6f6f6;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  outline: none;
  padding-left: 20px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #969696;
  padding: 19px;
}

.input-password {
  margin-top: 21px;
}

.forgot-password {
  margin: 35px 30px 38px 0;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000000;
}

button {
  display: block;
  margin: 0 auto;
  background: #323232;
  box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
  border-radius: 10px;
  width: 133px;
  height: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: white;
  border: none;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.5;
}
@keyframes translateConteiner {
  50% {
    opacity: 0;
    transform: translateX(-200px);
  }
  70% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.activebutton {
  animation: translateConteiner 1s ease-out forwards;
}

.signup {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 240px;
  height: 18px;
  display: block;
  margin: 21px auto 62px auto;
  color: #969696;
}

strong {
  color: #323232;
}

.p {
  color: #000000;
  display: block;
  margin: 0px auto 12px auto;
  width: 128px;
  height: 29px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.div-img {
  width: 145px;
  height: 52px;
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  word-spacing: 10px;
}
@media (max-width: 400px) {
  #Conteiner {
    padding: 150px 10px 50px;
    border-radius: none;
    width: 100%;
    border: none;
  }
  input {
    width: 100%;
  }
  .signup{
    display: flex;
    flex-wrap: wrap;
  }
}
